.Homepage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage-join {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}