.Homepage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--game-board-color);
}

.homepage-form, .homepage-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage-menu {
    gap: 1rem;
}

.Homepage button, #game-code-input {
    border-radius: 0.5rem;
    border-style: none;
}

.Homepage button:hover {
    transform: scale(1.05);
}

.home-button {
    font-size: 2rem;
    height: 5rem;
    width: 15rem;
}

.game-code-join {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.form-button, #game-code-input {
    font-size: 1.5rem;
    padding: 0.5rem;
}

#game-code-input {
    width: 10rem;
    text-align: center;
}

.form-button {
    height: fit-content;
    width: fit-content;
}

.waiting-info {
    display: flex;
    align-items: center;
    justify-content: center;
}